.border {
    border: 1px solid #000;
    border-radius: 10%;
    padding: 2%;
    max-width: 80%;
    width: 0 auto;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 6px;
  display: block;
  font-weight: bold;
}

h2 {
    margin: 2%;
}